@page
@model resturant.Pages.ContactModel
@{
}
<body class="bodyC">
    <div class="contact-container">
        <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
            <div class="contact-left-title">
                <h2>Get in touch</h2>
                <hr />
            </div>
            <input type="hidden" name="access_key" value="a92f6a43-0686-4c1a-8a54-a6b089cf09e2">
            <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required/>
            <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required />
            <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
                <button type="submit">Submit</button>

        </form>
        <div class="contact-right">

        </div>
    </div>
</body>